/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --black: #000000;
    --white: #ffffff;
    --lightPurple: #F3D9FF;
    --darkPurple: #3E1653;
    --pink: #c823cf;
    --yellow: #eae954;
    --green: #84e934;
    --blue: #8de7e9;
    --lightPink: #F3D9FF;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    color: var(--darkPurple);
}
h2{
    margin: 0.5rem;
}

h3 {
    margin: 0.5rem;
    font-weight: 500;

}
p {
    margin: 0.3rem;
}

.textCentre{
    text-align: center;
}

.centre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;  /* Nunca seas más ancha que tu padre */
    height: auto;     /* Mantén la proporción, no te estires */
    display: block;   /* Evita espacios extra debajo de la imagen */
}


.card {

    max-width: 20rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    width: 100%;
    max-width: 20rem;
    background-color: var(--lightPurple);
    border-radius: 0.7rem;
    padding: 1rem;
    margin: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.redonda{
    max-width: 10rem;
    border-radius: 100%;
}

.ImgBR{
    max-width: 90%;
    border-radius: 0.7rem;
    margin: 1rem;
}

.logoPeq{
    max-width: 4.5rem;
}

.horizontalSpaceAround {
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 2rem; 
    padding: 1rem; 
    max-width: 1200px; 
    margin: 0 auto; 
}

.horizontal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    margin: 0.5rem;
}

.capaBlanca{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--white);
    padding: 2rem;
}

.capaRosa{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--lightPink);
    padding: 2rem;
}

.miniRosa{
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--lightPink);
}

.btnRosa{
    background-color: var(--lightPink);
    padding: 0.3rem 1rem;
    border-radius: 0.6rem;
}

.btnMorado{
    color: var(--white);
    background-color: var(--darkPurple);
    padding: 0.3rem 1rem;
    border-radius: 0.6rem;
}
/* Media query para pantallas grandes */
@media (min-width: 769px) {

        }